@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Roboto, system-ui, sans-serif;
		@apply text-blue-gray-600;
	}

	h1 {
		@apply font-medium;
		@apply text-[1.75rem];
		@apply mb-[3.25rem];
	}

	input {
		-webkit-appearance: none;
		outline: none;
		border: none;
	}

	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
		font-weight: inherit;
	}

	td {
		vertical-align: middle;
	}

	svg {
		width: auto;
		height: auto;
	}

	.wrapper {
		padding: 3.5rem 3.5rem 1.5rem;
		max-width: 125rem;
		margin: 0 auto;
		@screen lg {
			padding: 3.5rem 2rem 1.5rem;
		}
	}

	.svg-fill-inherit * {
		fill: inherit;
	}

	.svg-stroke-inherit * {
		stroke: inherit;
	}

	.dropdown-shadow {
		box-shadow: 0 0.25rem 1.375rem -0.125rem rgba(0, 0, 0, 0.25);
	}

	/* Turbine layout */
	.turbine-layout {
		grid-template-columns: 2fr 0.8fr;
		grid-template-rows: repeat(3, minmax(12.5rem, 1fr));
		grid-template-areas:
			"rps freq"
			"power temp"
			". .";
		@screen xl {
			grid-template-columns: 1fr 1fr !important;
			grid-template-areas:
				"rps rps"
				"power power"
				"freq temp";
		}
	}
	.turbine-rps { grid-area: rps; }
	.turbine-freq { grid-area: freq; }
	.turbine-power { grid-area: power; }
	.turbine-temp { grid-area: temp; }

	/* Scrollbar */
	* {
		scrollbar-width: thin;
		scrollbar-color: theme('colors.blue-600') theme('colors.blue-100');
	}
	*::-webkit-scrollbar {
		width: 6px;
	}
	*::-webkit-scrollbar-track {
		background: theme('colors.blue-100');
	}
	*::-webkit-scrollbar-thumb {
		background-color: theme('colors.blue-600');
		border-radius: 6px;
		border: 0px none #ffffff;
	}

	/* Page progress bar */
	#nprogress {
		$color: #3661ed;
		.bar {
			background-color: $color !important;
		}
		.peg {
			box-shadow: 0 0 10px $color, 0 0 5px $color !important;
		}
	}

	/* Loading spinner */
	.spinner {
		width: 1rem;
		height: 1rem;
		-webkit-animation: spinner 1.8s linear infinite;
		animation: spinner 1.8s linear infinite;
	}
	.spinner-path {
		@apply stroke-blue-gray-600;
		stroke-width: 4.4px;
		stroke-dasharray: 150, 200;
		stroke-dashoffset: -10;
		stroke-linecap: round;
		-webkit-animation: spinner_dash 1.6s ease-in-out infinite;
		animation: spinner_dash 1.6s ease-in-out infinite;
	}
}

@-webkit-keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spinner_dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}
@keyframes spinner_dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}
