@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Roboto, system-ui, sans-serif;
    }
    h1 {
        @apply font-medium;
        @apply text-[1.75rem];
        @apply text-blue-gray-600;
    }
    svg, svg path {
        fill: inherit;
        stroke: inherit;
    }
}
